$unit: 20px;
$inner: 18px;

section {
  border-bottom: 2px solid $gray;
  border-top: 2px solid $gray;
  margin-top: 5rem;
  padding: 2.5rem 0;
  position: relative;

  &:before {
    background-color: $white;
    border-color: $transparent $gray $gray $transparent;
    border-style: solid;
    border-width: 2px;
    content: ' ';
    display: block;
    height: 28.28px;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%) rotate(-135deg);
    width: 28.28px;
    z-index: 1;
  }

  &:after {
    background-color: $gray;
    content: ' ';
    display: block;
    height: 4rem;
    left: 50%;
    position: absolute;
    top: (-1 * $unit);
    transform: translate(-50%, -100%);
    width: 2px;
  }
}

.text-form {
  padding: 0 5rem;
}
