form {
  &.board-form {
    margin: 0 auto;
    max-width: 27.5rem;
    width: 100%;
  }
}

input:not([type="submit"]) {
  border: 1px solid $light-gray;
  color: $black;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
  outline: none;
  padding: 1.5rem 0;
  text-align: center;
  transition: 0.2s ease border;
  width: 100%;

  &:focus {
    border-color: $gray;
  }

  &.title {
    font-size: 3rem;
    line-height: 3.5rem;
    padding: 1rem 0;
  }
}
