 /* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
--------------------------------------------------------------------------------------- */
/* line 3, /Users/dan/working/spire/app/static/scss/lib/reset.min.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 3, /Users/dan/working/spire/app/static/scss/lib/reset.min.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 3, /Users/dan/working/spire/app/static/scss/lib/reset.min.scss */
body {
  line-height: 1;
}

/* line 3, /Users/dan/working/spire/app/static/scss/lib/reset.min.scss */
ol, ul {
  list-style: none;
}

/* line 3, /Users/dan/working/spire/app/static/scss/lib/reset.min.scss */
blockquote, q {
  quotes: none;
}

/* line 3, /Users/dan/working/spire/app/static/scss/lib/reset.min.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 3, /Users/dan/working/spire/app/static/scss/lib/reset.min.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Calibre';
  font-weight: 400;
  src: url("../../font/CalibreWeb-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../../font/CalibreWeb-Regular.woff") format("woff");
}
/* line 18, /Users/dan/working/spire/app/static/scss/_typography.scss */
body, html, h1, h2, h3, h4, h5, h6, p, li, input {
  font-family: "Calibre", Helvetica, Arial, sans-serif;
}

/* line 22, /Users/dan/working/spire/app/static/scss/_typography.scss */
h1 {
  font-size: 2.25rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

/* line 28, /Users/dan/working/spire/app/static/scss/_typography.scss */
h2 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

/* line 37, /Users/dan/working/spire/app/static/scss/_typography.scss */
h3 {
  font-size: 1.5rem;
}

/* line 41, /Users/dan/working/spire/app/static/scss/_typography.scss */
h4 {
  font-size: 1.1rem;
}

/* line 45, /Users/dan/working/spire/app/static/scss/_typography.scss */
h5 {
  color: #cccccc;
  font-size: .75rem;
  text-transform: uppercase;
}

/* line 51, /Users/dan/working/spire/app/static/scss/_typography.scss */
p, .p {
  color: #cccccc;
  font-size: .875rem;
}

@media screen and (max-width: 640px) {
  /* line 57, /Users/dan/working/spire/app/static/scss/_typography.scss */
  h1 {
    font-size: 1.75rem;
  }

  /* line 61, /Users/dan/working/spire/app/static/scss/_typography.scss */
  h4 {
    font-size: 1.5rem;
  }
}
/* line 1, /Users/dan/working/spire/app/static/scss/_util.scss */
.hidden {
  display: none;
}

/* line 1, /Users/dan/working/spire/app/static/scss/_base.scss */
html, body {
  background-color: #FFFFFF;
  color: #222222;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  height: 100%;
  line-height: 1.5;
  position: relative;
}

/* line 12, /Users/dan/working/spire/app/static/scss/_base.scss */
a, a:hover {
  color: inherit;
  text-decoration: none;
}

/* line 17, /Users/dan/working/spire/app/static/scss/_base.scss */
img {
  max-width: 100%;
}

/* line 3, /Users/dan/working/spire/app/static/scss/_layout.scss */
.content {
  margin: 0 auto;
  max-width: 57.5rem;
  padding: 5rem .625rem;
  width: 90%;
}
/* line 22, /Users/dan/working/spire/app/static/scss/_base.scss */
.content:after {
  clear: both;
  content: ' ';
  display: block;
}

@media screen and (max-width: 640px) {
  /* line 12, /Users/dan/working/spire/app/static/scss/_layout.scss */
  .content {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 1921px) {
  /* line 2, /Users/dan/working/spire/app/static/scss/_responsive.scss */
  html, body {
    font-size: 20px;
  }
}
@media screen and (max-width: 1920px) {
  /* line 8, /Users/dan/working/spire/app/static/scss/_responsive.scss */
  html, body {
    font-size: 18px;
  }
}
@media screen and (max-width: 1440px) {
  /* line 14, /Users/dan/working/spire/app/static/scss/_responsive.scss */
  html, body {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 20, /Users/dan/working/spire/app/static/scss/_responsive.scss */
  html, body {
    font-size: 15px;
  }
}
@media screen and (min-width: 641px) {
  /* line 26, /Users/dan/working/spire/app/static/scss/_responsive.scss */
  .mobile-only {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  /* line 32, /Users/dan/working/spire/app/static/scss/_responsive.scss */
  html, body {
    font-size: 14px;
  }

  /* line 36, /Users/dan/working/spire/app/static/scss/_responsive.scss */
  .hide-mobile {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  /* line 41, /Users/dan/working/spire/app/static/scss/_responsive.scss */
  html, body {
    font-size: 12px;
  }
}
@media screen and (max-width: 319px) {
  /* line 46, /Users/dan/working/spire/app/static/scss/_responsive.scss */
  html, body {
    font-size: 7px;
  }
}
@media screen and (max-width: 240px) {
  /* line 51, /Users/dan/working/spire/app/static/scss/_responsive.scss */
  html, body {
    font-size: 5px;
  }
}
/* line 2, /Users/dan/working/spire/app/static/scss/_forms.scss */
form.board-form {
  margin: 0 auto;
  max-width: 27.5rem;
  width: 100%;
}

/* line 9, /Users/dan/working/spire/app/static/scss/_forms.scss */
input:not([type="submit"]) {
  border: 0;
  border: 1px solid #f2f2f2;
  color: #222222;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
  outline: none;
  padding: 1.5rem 0;
  text-align: center;
  width: 100%;
  transition: 0.2s ease border;
}
/* line 22, /Users/dan/working/spire/app/static/scss/_forms.scss */
input:not([type="submit"]):focus {
  border-color: #cccccc;
}
/* line 26, /Users/dan/working/spire/app/static/scss/_forms.scss */
input:not([type="submit"]).title {
  font-size: 3rem;
  line-height: 3.5rem;
  padding: 1rem 0;
}

/* line 4, /Users/dan/working/spire/app/static/scss/_drop.scss */
section {
  border-bottom: 2px solid #cccccc;
  border-top: 2px solid #cccccc;
  padding: 2.5rem 0;
  position: relative;
  margin-top: 5rem;
}
/* line 11, /Users/dan/working/spire/app/static/scss/_drop.scss */
section:before {
  background-color: #FFFFFF;
  border-color: transparent #cccccc #cccccc transparent;
  border-style: solid;
  border-width: 2px;
  content: ' ';
  display: block;
  height: 28.28px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%) rotate(-135deg);
  width: 28.28px;
  z-index: 1;
}
/* line 27, /Users/dan/working/spire/app/static/scss/_drop.scss */
section:after {
  background-color: #cccccc;
  content: ' ';
  display: block;
  height: 4rem;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -100%);
  top: -20px;
  width: 2px;
}

/* line 40, /Users/dan/working/spire/app/static/scss/_drop.scss */
#dropzone {
  padding: 0 5rem;
}

/* line 44, /Users/dan/working/spire/app/static/scss/_drop.scss */
.dz-preview {
  display: block;
  padding-bottom: 2.5rem;
}
/* line 48, /Users/dan/working/spire/app/static/scss/_drop.scss */
.dz-preview .dz-image img {
  display: block;
  width: 100%;
}
/* line 53, /Users/dan/working/spire/app/static/scss/_drop.scss */
.dz-preview .dz-success-mark, .dz-preview .dz-error-mark, .dz-preview .dz-details {
  display: none;
}
/* line 57, /Users/dan/working/spire/app/static/scss/_drop.scss */
.dz-preview .dz-progress {
  display: none;
  height: 10rem;
  position: relative;
  width: 100%;
}
/* line 63, /Users/dan/working/spire/app/static/scss/_drop.scss */
.dz-preview .dz-progress .dz-upload {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  display: block;
  height: 10rem;
  transition: .2s ease width;
}
/* line 75, /Users/dan/working/spire/app/static/scss/_drop.scss */
.dz-preview.dz-complete .dz-progress {
  display: none;
}

/* line 1, /Users/dan/working/spire/app/static/scss/_board.scss */
.color {
  height: 11.25rem;
  position: relative;
  margin-top: 2.5rem;
  display: inline-block;
  width: 50%;
  float: left;
}
/* line 9, /Users/dan/working/spire/app/static/scss/_board.scss */
.color p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

/* line 18, /Users/dan/working/spire/app/static/scss/_board.scss */
.image {
  display: block;
  margin-top: 2.5rem;
}
/* line 22, /Users/dan/working/spire/app/static/scss/_board.scss */
.image img {
  width: 100%;
}

/* line 27, /Users/dan/working/spire/app/static/scss/_board.scss */
#board-form input {
  border-color: transparent;
}
/* line 30, /Users/dan/working/spire/app/static/scss/_board.scss */
#board-form input:invalid, #board-form input:hover {
  border-color: #f2f2f2;
}
/* line 34, /Users/dan/working/spire/app/static/scss/_board.scss */
#board-form input:focus {
  border-color: #cccccc;
}

/* line 39, /Users/dan/working/spire/app/static/scss/_board.scss */
#board-slug:before {
  display: block;
  content: "spire.minimill.co/";
  position: absolute;
  width: 100px;
  height: 10px;
}

/* line 47, /Users/dan/working/spire/app/static/scss/_board.scss */
#combo {
  margin: 2.5rem 0;
}

/* line 1, /Users/dan/working/spire/app/static/scss/_footer.scss */
footer {
  padding: 2.5rem 0;
  text-align: center;
  font-size: 1rem;
  height: 1.25rem;
  line-height: 1.25rem;
  color: #cccccc;
}
/* line 8, /Users/dan/working/spire/app/static/scss/_footer.scss */
footer img {
  display: inline-block;
  margin-right: .5rem;
  vertical-align: middle;
  width: 1.25rem;
}
/* line 15, /Users/dan/working/spire/app/static/scss/_footer.scss */
footer span {
  display: inline-block;
  vertical-align: middle;
}
