{% extends "base.html" %}
{% import "macros.html" as macros %}
{% if board.title %}
{% set title = board.title %}
{% else %}
{% set title = 'New Project' %}
{% endif %}
{% block title %}{{ title }} - {{ super() }}{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/lib/dropzone.js') }}"></script>
<script src="{{ url_for('static', filename='js/board.js') }}"></script>
{% endblock %}

{% block body %}
<div class="content">
  <form action="{{ url_for('save_board', board_slug=board.slug) }}"
    method="POST"
    id="board-form"
    class="board-form">
    {{ macros.render_field(forms.board.csrf_token) }}
    {{ macros.render_field(forms.board.title, class="title", required=True) }}
    {{ macros.render_field(forms.board.slug, required=True) }}
    {{ macros.render_field(forms.board.old_slug, required=True) }}
  </form>
  <form action="{{ url_for('add_image', board_slug=board.slug) }}"
    method="POST"
    id="image-form"
    class="hidden image-form">
    {{ macros.render_field(forms.image.csrf_token) }}
    {{ macros.render_field(forms.image.filename) }}
    {{ macros.render_field(forms.image.slug) }}
  </form>
  <section>
    <form action="{{ url_for('add_text', board_slug=board.slug) }}"
      method="POST"
      id="text-form"
      class="text-form">
      {{ macros.render_field(forms.text.csrf_token) }}
      {{ macros.render_field(forms.text.text) }}
      {{ macros.render_field(forms.text.slug, hidden=True) }}
      <input type="submit" class="hidden">
    </form>
    <form action="https://swiftly-uploads.s3.amazonaws.com/" id="dropzone">
      <!-- <input name="key" type="hidden" value=""> -->
      <input name="acl" type="hidden" value="public-read">
      <input name="policy" type="hidden" value="{{ aws.policy }}">
      <input name="signature" type="hidden" value="{{ aws.signature }}">
      <input name="content-type" type="hidden" value="application/octet-stream">
      <input name="AWSAccessKeyId" type="hidden" value="{{ config.AWS_ACCESS_KEY_ID }}">
    </form>
    <div id="colors">
      {% for color in board.colors %}
      <div class="color" style="background-color: #{{color.hex}}">
        <p>#{{ color.hex }}</p>
      </div>
      {% endfor %}
    </div>
    <div class="dropzone-previews"></div>
    <div id="images">
      {% for image in board.images %}
      <div class="image">
        <img src="{{ image.url }}">
      </div>
      {% endfor %}
    </div>
  </section>
  <footer>
    <a href="{{ url_for('new') }}"><img src="{{ url_for('static', filename='img/spire-logo.svg') }}"></a> <span><a href="{{ url_for('new') }}">Spire</a> by <a href="https://minimill.co">Minimill</a></span>
  </footer>
</div>
{% endblock %}